[id] {
    scroll-margin-top: 80px;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--fg0, white);
    font-weight: normal;
}
:is(h1, h2, h3, h4, h5, h6) + :is(a, p, ul, ol) {
    margin-top: 2px;
}
:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 2px;
}
:is(h1, h2, h3, h4, h5, h6):has(+ :is(a, p, ul, ol)) {
    margin-bottom: 2px;
}
:is(h1, h2, h3, h4, h5, h6):has(+ :is(h1, h2, h3, h4, h5, h6)) {
    margin-bottom: 2px;
}
a {
    color: var(--laqua, lightblue);
    text-decoration: dotted underline;
}
a:hover {
    color: var(--laqua, lightblue);
    text-decoration: wavy underline;
}
a:active {
    color: var(--fg0, white);
    text-decoration: solid underline;
}
a:visited {
    color: var(--laqua, lightblue);
}
blockquote {
    background: var(--bg_2, darkgray);
    padding: 2px;
    padding-left: 14px;
    padding-left: 14px;
    margin-left: 8px;
    margin-right: 8px;
}
.latex {
  margin-left: 14px;
  margin-right: 100%;
}
.inline-latex {
  vertical-align: middle;
}
.toc {
    background: var(--bg_1, darkgray);
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 21px;
}
ul {
    list-style-type: "- ";
}
ul, ol {
    padding-left: 28px;
}
p + ul,
p + ol {
    margin-top: 3px;
}
p:has(+ ul),
p:has(+ ol) {
    margin-bottom: 3px;
}
.toc ul {
    list-style-type: "# ";
    padding-left: 18px;
}
.task-list {
    list-style-type: "";
    padding-left: 8px;
}
.admonition {
    background: var(--bg_2, darkgray);
    padding: 12px;
}
.admonition p {
    margin-top: 4px;
    margin-bottom: 0;
}
.admonition-title {
    font-weight: bolder;
    margin-top: 4px;
}
.info .admonition-title {
    color: var(--lblue, aqua);
}
.note .admonition-title {
    color: var(--laqua, aqua);
}
.tip .admonition-title {
    color: var(--lpurple, aqua);
}
.question .admonition-title {
    color: var(--lyellow, gold);
}
.warning .admonition-title {
    color: var(--lyellow, gold);
}
.error .admonition-title {
    color: var(--lred, red);
}
.danger .admonition-title {
    color: var(--lred, orangered);
}
.bug .admonition-title {
    color: var(--lyellow, yellow);
}
.example .admonition-title {
    color: var(--lgreen, lightgreen);
}
.quote .admonition-title {
    color: var(--lpurple, lavender);
}
code {
    background: var(--bg_2, darkgray);
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
}
pre {
    padding: 12px;
    background: var(--bg_1, darkgray);

    code {
        background: transparent;
        padding: 0;
    }
}
img {
    max-width: 100%;
}
